{>main}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group" role="group">
                        <button id="{{panel_id}}_addChild" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="{{panel_id}}_tree" class="definition-tree"></div>
            </div>
        </div>
        <div id="{{panel_id}}_constraints_panel" class="col-sm-4 constraint-properties">
        </div>
    </div>
</div>

{>constraintsPanel}
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#{{panel_id}}_constraints" data-toggle="tab">Constraints</a></li>
    <li role="presentation"><a href="#{{panel_id}}_annotations" data-toggle="tab">Annotations</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in"
         id="{{panel_id}}_constraints">
    </div>
    <div role="tabpanel" class="tab-pane fade in"
         id="{{panel_id}}_annotations">
    </div>
</div>

{>annotations}
<div class="container-fluid">
    <div class="form-horizontal form-group">
        <label for="{{panel_id}}_language" class="col-sm-6 control-label">Language ({{lang}})</label>

        <div class="col-sm-6">
            <select id="{{panel_id}}_language" class="form-control input-sm"></select>
        </div>
    </div>
    <div id="{{panel_id}}_annotations" class="row"></div>
</div>


{>addAttributeDialog}
<div class="form-horizontal">
    <div class="form-group">
        <label for="{{panel_id}}_attributes" class="col-sm-4 control-label">Attribute</label>

        <div class="col-sm-8">
            <select id="{{panel_id}}_attributes" class="form-control">
                {{#each attributes}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>


{>addConstraintDialog}
<div class="form-horizontal">
    <div class="form-group">
        <label for="{{panel_id}}_text" class="col-sm-4 control-label">Text</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_text" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_description" class="col-sm-4 control-label">Description</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_description" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_types" class="col-sm-4 control-label">Rm type</label>

        <div class="col-sm-8">
            <select id="{{panel_id}}_types" class="form-control">
                {{#each types}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>