{>main}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#archetype-editor-main-tabs-description" data-toggle="tab">Description</a>
    </li>
    <li role="presentation"><a href="#archetype-editor-main-tabs-definition" data-toggle="tab">Definition</a></li>
    <li role="presentation"><a href="#archetype-editor-main-tabs-display" data-toggle="tab">Display</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active container-fluid"
         id="archetype-editor-main-tabs-description">
    </div>
    <div role="tabpanel" class="tab-pane fade container-fluid" id="archetype-editor-main-tabs-definition">
    </div>
    <div role="tabpanel" class="tab-pane fade container-fluid" id="archetype-editor-main-tabs-display">
    </div>
</div>


{>createNewTemplateDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_template_id" class="control-label">Template Id</label></div>
    <div class="properties-value"><p id="{{panel_id}}_template_id" class="form-control-static"></p></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_archetype_id" class="control-label">Parent Archetype
        Id</label></div>
    <div class="properties-value"><select id="{{panel_id}}_archetype_id" class="form-control input-sm"></select></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_concept" class="control-label">Concept</label></div>
    <div class="properties-value"><input id="{{panel_id}}_concept" class="form-control input-sm" value=""></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_version" class="control-label">Version</label></div>
    <div class="properties-value"><input id="{{panel_id}}_version" class="form-control input-sm" value="1.0.0"></div>
</div>


{>definition}
<div class="vertical-stretch xcontainer-fluid" style="overflow: hidden!important;">
    <div class="horizontal-stretch col-sm-8 row-children">
        <div class="panel panel-default horizontal-stretch">
            <div class="panel-heading row">
                <div class="col-sm-4 properties-line no-border">
                    <div class="properties-label"><label for="{{panel_id}}_language"
                                                         class="control-label">Language</label></div>
                    <div class="properties-value">
                        <select id="{{panel_id}}_language" class="form-control input-sm" style="max-width: 100px">
                            <option value="en">en</option>
                            <option value="sl">sl</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8 pull-right">
                    <div class="btn-group pull-right" data-toggle="buttons">
                        <label class="btn btn-primary" title="Show detailed structure">
                            <input id="{{panel_id}}_structure" type="checkbox"><span class="glyphicon glyphicon-filter"></span>
                        </label>
                        <label class="btn btn-warning active" title="Show Zero occurances">
                            <input id="{{panel_id}}_filterProhibited"  checked="checked" type="checkbox"><span class="glyphicon glyphicon-eye-close"></span>
                        </label>
                    </div>
                </div>

                <div class="row" style="margin-left: -25px">
                    <div class="col-xs-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm" id="topToolbar">
                              <!--  <button id="addArche" class="btn btn-primary addArche"><span
                                        class="glyphicon glyphicon-plus"></span> Add Archetype
                                </button>
                                <button id="prohibToolbar" class="btn btn-default prohibToolbar">Prohibit</button>
                                <button id="unprohibToolbar" class="btn btn-default unprohibToolbar">Unprohibit</button>
                                <button id="renameToolbar" class="btn  btn-primary renameToolbar"><span
                                        class="fa fa-pencil-square-o"></span> Rename
                                </button>
                                <button id="cloneToolbar" class="btn btn-info cloneToolbar"><span
                                        class="fa fa-clone"></span> Clone
                                </button>
                                <button id="deleteArcheToolbar" class="btn btn-danger resetDelete"><span
                                        class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                                <button id="editArcheToolbar" class="btn btn-warning"><span
                                        class="fa fa-pencil-square-o"></span> Edit
                                </button>-->

                            </div>
                            <input type="text" class="search-input form-control" placeholder="Filter by name"
                                   style="float: right; max-width: 200px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body horizontal-stretch bottom-space-medium no-padding show-scrollbar">
                <div id="{{panel_id}}_tree" class="definition-tree treejsc"></div>

            </div>
            <div class="panel-footer">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <button id="{{panel_id}}_addChild" type="button" class="btn btn-primary"><span
                            class="glyphicon glyphicon-cloud"></span> Export to Opt 1.4
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="{{panel_id}}_constraints_panel" class="col-sm-4 constraint-properties">
    </div>
</div>


{>addArchetypeDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_archetype_id" class="control-label">Archetype Id</label>
    </div>
    <div class="properties-value">
        <select id="{{panel_id}}_archetype_id" class="form-control input-sm" data-live-search="true">
            {{#each candidateArches}}
                <option value="{{archetypeId}}">{{archetypeId}}</option>
            {{/each}}
        </select>
    </div>
</div>

{>loadTemplateDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_template_id" class="control-label">Template</label></div>
    <div class="properties-value"><select id="{{panel_id}}_template_id" class="form-control input-sm"></select></div>
</div>

{>renameConstraintDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_language" class="control-label">Language</label></div>
    <div class="properties-value"><p id="{{panel_id}}_language"
                                     class="form-control form-control-static">{{language}}</p></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_text" class="control-label">Text</label></div>
    <div class="properties-value"><input id="{{panel_id}}_text" class="form-control input-sm"/></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_description" class="control-label">Description</label></div>
    <div class="properties-value"><input id="{{panel_id}}_description" class="form-control input-sm"/></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_comment" class="control-label">Comment</label></div>
    <div class="properties-value"><input id="{{panel_id}}_comment" class="form-control input-sm"/></div>
</div>

{>constraintTop}
<div class="handle"></div>
<div class="row">
    <div class="col-sm-2"><label>Node Id</label></div>
    <div class="col-sm-10 data">{{node_id}}</div>
</div>
<div class="row">
    <div class="col-sm-2"><label>Path</label></div>
    <div class="col-sm-10 data">{{rmPath}}</div>
</div>
<div class="row">
    <div class="col-sm-2"><label for="occurrences">Occurrences</label></div>
    <div class="col-sm-4">
        <select id="{{panel_id}}_existence" class="form-control input-sm data"></select>
    </div>
    <div class="col-sm-4">
        <select id="{{panel_id}}_multiplicity" class="form-control input-sm data"></select>
    </div>
    <div class="col-sm-1">
        <input id="{{panel_id}}_multiplicity_bound" class="form-control input-sm data" type="number" placeholder='min'>
    </div>
    <div class="col-sm-1">
        <input id="{{panel_id}}_multiplicity_bound" class="form-control input-sm data" type="number" placeholder='max'>
    </div>
</div>


{>display}
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#{{panel_id}}_adl" data-toggle="tab">ADL</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in padded"
         id="{{panel_id}}_adl">
        Adl
    </div>
</div>

{>inlineToolbar}
<span class='movertb'>
    {{#if addArchetype}}
        <span id="{{panel_id}}_addArchetype" class='btn {{cssClass}} btn-primary'><span class='glyphicon glyphicon-plus'></span> Add Archetype</span>
    {{/if}}
    {{#if createArchetype}}
        <span id="{{panel_id}}_createArchetype" class='btn {{cssClass}} btn-primary'><span class='glyphicon glyphicon-file'></span> Create new Archetype</span>
    {{/if}}
    {{#if prohibit}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_prohibit"> Zero occurance</span>
    {{/if}}
    {{#if unprohibit}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_unprohibit"> Default occurance</span>
    {{/if}}
    {{#if rename}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_rename"><span class='fa fa-pencil-square-o'></span> Rename</span>
    {{/if}}
    {{#if clone}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_clone"><span class='fa fa-clone'></span> Clone</span>
    {{/if}}
    {{#if editArchetype}}
        <span class='btn {{cssClass}} btn-warning' id="{{panel_id}}_editArchetype"><span class='glyphicon glyphicon-edit'></span> Edit '{{archetypeName}}'</span>
    {{/if}}
    {{#if reset}}
        {{#if archetypeHead}}
        <span class='btn {{cssClass}} btn-danger' id="{{panel_id}}_reset"><span class='fa fa-remove'></span> Delete '{{archetypeName}}'</span>
        {{else}}
        <span class='btn {{cssClass}} btn-success' id="{{panel_id}}_reset"><span class='fa fa-refresh'></span> Reset</span>
        {{/if}}
    {{/if}}
</span>
{>topToolbar}
    {{#if addArchetype}}
        <span id="{{panel_id}}_addArchetype" class='btn {{cssClass}} btn-primary'><span class='glyphicon glyphicon-plus'></span> Add Archetype</span>
    {{/if}}
    {{#if createArchetype}}
        <span id="{{panel_id}}_createArchetype" class='btn {{cssClass}} btn-primary'><span class='glyphicon glyphicon-file'></span> Create new Archetype</span>
    {{/if}}
    {{#if prohibit}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_prohibit"> Zero occurance</span>
    {{/if}}
    {{#if unprohibit}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_unprohibit"> Default occurance</span>
    {{/if}}
    {{#if rename}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_rename"><span class='fa fa-pencil-square-o'></span> Rename</span>
    {{/if}}
    {{#if clone}}
        <span class='btn {{cssClass}} btn-primary' id="{{panel_id}}_clone"><span class='fa fa-clone'></span> Clone</span>
    {{/if}}
    {{#if editArchetype}}
        <span class='btn {{cssClass}} btn-warning' id="{{panel_id}}_editArchetype"><span class='glyphicon glyphicon-edit'></span> Edit '{{archetypeName}}'</span>
    {{/if}}
    {{#if reset}}
        {{#if archetypeHead}}
            <span class='btn {{cssClass}} btn-danger' id="{{panel_id}}_reset"><span class='fa fa-remove'></span> Delete '{{archetypeName}}'</span>
        {{else}}
            <span class='btn {{cssClass}} btn-success' id="{{panel_id}}_reset"><span class='fa fa-refresh'></span> Reset</span>
        {{/if}}
    {{/if}}