{>createNewTemplateDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_template_id" class="control-label">Template Id</label></div>
    <div class="properties-value"><p id="{{panel_id}}_template_id" class="form-control-static"></p></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_archetype_id" class="control-label">Parent Archetype Id</label></div>
    <div class="properties-value"><select id="{{panel_id}}_archetype_id" class="form-control input-sm"></select></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_concept" class="control-label">Concept</label></div>
    <div class="properties-value"><input id="{{panel_id}}_concept" class="form-control input-sm" value=""></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label for="{{panel_id}}_version" class="control-label">Version</label></div>
    <div class="properties-value"><input id="{{panel_id}}_version" class="form-control input-sm" value="1.0.0"></div>
</div>


{>definition}
<div class="vertical-stretch xcontainer-fluid">
    <div class="horizontal-stretch col-sm-8 row-children">
        <div class="panel panel-default horizontal-stretch">
            <div class="panel-heading row">
                <div class="col-sm-4 properties-line no-border">
                    <div class="properties-label"><label for="{{panel_id}}_language" class="control-label">Language</label></div>
                    <div class="properties-value">
                        <select id="{{panel_id}}_language" class="form-control input-sm">
                            <option value="en">en</option>
                            <option value="sl">sl</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="btn-group pull-right" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input id="{{panel_id}}_structure" type="checkbox">Show detailed structure
                        </label>
                        <label class="btn btn-primary active">
                            <input id="{{panel_id}}_filterProhibited" checked="checked" type="checkbox">Show prohibited nodes
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-left: -25px">
                    <div class="col-xs-12">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-xss">
                                <button id="addArche" class="btn-sm btn-primary addArche"><span class="glyphicon glyphicon-plus"></span> Add Archetype</button>
                                <button id="prohibToolbar" class="btn-sm btn-default prohibToolbar">Prohibit</button>
                                <button id="unprohibToolbar" class="btn-sm btn-default unprohibToolbar">Unprohibit</button>
                                <button id="renameToolbar" class="btn-sm btn-primary renameToolbar"><span class="glyphicon glyphicon-edit"></span> Rename</button>
                                <button id="cloneToolbar" class="btn-sm btn-info">Clone</button>


                                <button id="deleteArcheToolbar" class="btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                                <button id="editArcheToolbar" class="btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body horizontal-stretch bottom-space-medium no-padding show-scrollbar">
                <div id="{{panel_id}}_tree" class="definition-tree treejsc"></div>

            </div>
            <div class="panel-footer">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <button id="{{panel_id}}_addChild" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cloud"></span> Import to EHRScape</button>
                </div>
            </div>
        </div>
    </div>
    <div id="{{panel_id}}_constraints_panel" class="col-sm-4 constraint-properties">
    </div>
</div>
<!--<div class="vertical-stretch xcontainer-fluid">
  <div class="horizontal-stretch col-sm-5 row-children">
    <div class="panel panel-default horizontal-stretch">
      <div class="panel-heading row">
        <div class="col-sm-3 properties-line no-border">
          <div class="properties-label"><label for="{{panel_id}}_language" class="control-label">Language</label></div>
          <div class="properties-value">
            <select id="{{panel_id}}_language" class="form-control input-sm" style="width: 60px">
                <option value="en">en</option>
                <option value="sl">sl</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 pull-right">

          <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-primary">
                <input id="{{panel_id}}_structure" type="checkbox">Show detailed structure
            </label>
            <label class="btn btn-primary active">
                <input id="{{panel_id}}_filterProhibited" checked="checked" type="checkbox">Show prohibited nodes
            </label>
          </div>
        </div>
          <div class="row" style="margin-left: -25px">
              <div class="col-xs-12">
                  <div class="btn-toolbar">
                      <div class="btn-group btn-group-xss">
                          <button id="addArche" class="btn-sm btn-primary addArche"><span class="glyphicon glyphicon-plus"></span> Add Archetype</button>
                          <button id="prohibToolbar" class="btn-sm btn-default prohibToolbar">Prohibit</button>
                          <button id="unprohibToolbar" class="btn-sm btn-default unprohibToolbar">Unprohibit</button>
                          <button id="renameToolbar" class="btn-sm btn-primary renameToolbar"><span class="glyphicon glyphicon-edit"></span> Rename</button>
                          <button id="cloneToolbar" class="btn-sm btn-info">Clone</button>


                          <button id="deleteArcheToolbar" class="btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                          <button id="editArcheToolbar" class="btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                      </div>
                  </div>
              </div>
          </div>

      </div>
       <div class="panel-body horizontal-stretch bottom-space-medium no-padding show-scrollbar">
            <div id="{{panel_id}}_tree" class="definition-tree treejsc"></div>
      </div>

        <div class="panel-footer">
            <div class="btn-toolbar pull-right" role="toolbar">
                <button id="{{panel_id}}_expor" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud"></span> Import to EHRScape</button>
            </div>
        </div>
    </div>
  </div>

  <div id="{{panel_id}}_constraints_panel" class="col-sm-4 constraint-properties">
  </div>
</div>-->


{>addArchetypeDialog}
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_archetype_id" class="control-label">Archetype Id</label></div>
   <div class="properties-value">
       <select id="{{panel_id}}_archetype_id" class="form-control input-sm" data-live-search="true">
       {{#each candidateArches}}
           <option value="{{archetypeId}}">{{archetypeId}}</option>
       {{/each}}
       </select>
   </div>
</div>

{>loadTemplateDialog}
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_template_id" class="control-label">Template</label></div>
   <div class="properties-value"><select id="{{panel_id}}_template_id" class="form-control input-sm"></select></div>
</div>

{>renameConstraintDialog}
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_language" class="control-label">Language</label></div>
   <div class="properties-value"><p id="{{panel_id}}_language" class="form-control form-control-static">{{language}}</p></div>
</div>
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_text" class="control-label">Text</label></div>
   <div class="properties-value"><input id="{{panel_id}}_text" class="form-control input-sm"/></div>
</div>
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_description" class="control-label">Description</label></div>
   <div class="properties-value"><input id="{{panel_id}}_description" class="form-control input-sm"/></div>
</div>
<div class="row properties-line no-border">
   <div class="properties-label"><label for="{{panel_id}}_comment" class="control-label">Comment</label></div>
   <div class="properties-value"><input id="{{panel_id}}_comment" class="form-control input-sm"/></div>
</div>

{>constraintTop}
<div class="row">
    <div class="col-sm-2"><label>Node Id</label></div>
    <div class="col-sm-10 data">{{node_id}}</div>
</div>
<div class="row">
    <div class="col-sm-2"><label>Path</label></div>
    <div class="col-sm-10 data">{{rmPath}}</div>
</div>
<div class="row">
    <div class="col-sm-2"><label for="occurrences">Occurrences</label></div>
    <div class="col-sm-4">
        <select id="{{panel_id}}_existence" class="form-control input-sm data"></select>
    </div>
    <div class="col-sm-4">
        <select id="{{panel_id}}_multiplicity" class="form-control input-sm data"></select>
    </div>
    <div class="col-sm-1">
        <input id="{{panel_id}}_multiplicity_bound" class="form-control input-sm data" type="number" placeholder = 'min'>
    </div>
    <div class="col-sm-1">
        <input id="{{panel_id}}_multiplicity_bound" class="form-control input-sm data" type="number" placeholder='max'>
    </div>
</div>


{>display}
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#{{panel_id}}_adl" data-toggle="tab">ADL</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in padded"
         id="{{panel_id}}_adl">
        Adl
    </div>
</div>

