<!--
  ~ ADL2-core
  ~ Copyright (c) 2013-2014 Marand d.o.o. (www.marand.com)
  ~
  ~ This file is part of ADL2-core.
  ~
  ~ ADL2-core is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


{>C_REAL}
<label for="{{range_id}}">Range</label>
<input id="{{range_id}}" type="text" class="form-control input-sm data" value="{{range}}"/>
<label for="{{assumed_value_id}}">Assumed Value</label>
<input id="{{assumed_value_id}}" type="number" class="form-control input-sm data" value="{{assumed_value}}"/>

{>C_TERMINOLOGY_CODE}
<div class="terminology-type-choice">
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_internal" value="internal">Internal
    </label>
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_external" value="external">External
    </label>
</div>
<div id="{{panel_id}}_internal_panel">
    <div class="table-layout">
        <div class="table-cell vertical-button-column">
            <div class="btn-group-vertical" role="group">
                <button id="{{panel_id}}_add_new_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button id="{{panel_id}}_remove_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>

                <button id="{{panel_id}}_add_existing_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
        <div class="table-cell">
            <select id="{{panel_id}}_internal_defined_codes" class="form-control" name="term" size="10">
                {{#each internal_defined_codes}}
                    <option value="{{@key}}" title="{{@key}}: {{description}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
           <label for="{{panel_id}}_assumed_value">Assumed Value</label>
            <select id="{{panel_id}}_assumed_value" class="form-control">
            </select>
         </div>
    </div>
</div>
<div id="{{panel_id}}_external_panel">
    To be implemented
</div>


{>C_TERMINOLOGY_CODE/addExistingTermsDialog}
<div class="form-group">
   <label for="selectExistingTerms">Select terms to add</label>
    <select id="selectExistingTerms" class="form-control" size="10" multiple>
        {{#each terms}}
            <option value="{{@key}}" title="{{@key}}: {{description}}">{{text}}</option>
        {{/each}}
    </select>
 </div>
