<!--
  ~ ADL2-core
  ~ Copyright (c) 2013-2014 Marand d.o.o. (www.marand.com)
  ~
  ~ This file is part of ADL2-core.
  ~
  ~ ADL2-core is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


{>C_REAL}
<label for="{{range_id}}">Range</label>
<input id="{{range_id}}" type="text" class="form-control input-sm data" value="{{range}}"/>
<label for="{{assumed_value_id}}">Assumed Value</label>
<input id="{{assumed_value_id}}" type="number" class="form-control input-sm data" value="{{assumed_value}}"/>

{>C_INTEGER}
<label for="{{range_id}}">Range</label>
<input id="{{range_id}}" type="text" class="form-control input-sm data" value="{{range}}"/>
<label for="{{assumed_value_id}}">Assumed Value</label>
<input id="{{assumed_value_id}}" type="number" class="form-control input-sm data" value="{{assumed_value}}"/>

{>C_TERMINOLOGY_CODE}
<div class="terminology-type-choice">
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_internal" value="internal">Internal
    </label>
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_external" value="external">External
    </label>
</div>
<div id="{{panel_id}}_internal_panel">
    <div class="table-layout">
        <div class="table-cell vertical-button-column">
            <div class="btn-group-vertical" role="group">
                <button id="{{panel_id}}_add_new_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button id="{{panel_id}}_remove_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>

                <button id="{{panel_id}}_add_existing_term" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
        <div class="table-cell">
            <select id="{{panel_id}}_internal_defined_codes" class="form-control" name="term" size="10">
                {{#each internal_defined_codes}}
                    <option value="{{@key}}" title="{{@key}}: {{description}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="{{panel_id}}_assumed_value">Assumed Value</label>
            <select id="{{panel_id}}_assumed_value" class="form-control">
            </select>
        </div>
    </div>
</div>
<div id="{{panel_id}}_external_panel">
    <div class="form-group">
        <label for="{{panel_id}}_external_constraints">Constraints</label>
        <input id="{{panel_id}}_external_constraints" class="form-control input-sm" value="{{external_term.text}}">
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_external_description">Description</label>
        <textarea id="{{panel_id}}_external_description" class="form-control"
                  rows="3">{{external_term.description}}</textarea>
    </div>

    <table class="external_terminology_table">
        <thead>
        <tr>
            <th>
                <label>External terminologies</label>
            </th>
            <th class="external_terminology_row_actions">
                <button id="{{panel_id}}_external_add_terminology" class="btn btn-default"
                        title="add external terminology">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody id="{{panel_id}}_external_table_body">
        </tbody>
    </table>
</div>

{>C_TERMINOLOGY_CODE/externalTableRow}
<tr class="external_terminology_row_header">
    <td>{{terminology}}</td>
    <td class="external_terminology_row_actions">
        <button type="button" name="edit" class="btn btn-default" title="edit">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" name="remove" class="btn btn-default" title="remove">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </td>
</tr>
<tr class="external_terminology_row_binding">
    <td colspan="2">{{binding}}</td>
</tr>

{>C_TERMINOLOGY_CODE/addExternalTerminology}
<div class="form-group">
    <label for="{{id}}_terminology">Terminology</label>

    <div class="input-group">
        <input id="{{id}}_terminology" class="form-control" value="{{terminology}}">

        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                {{#each terminologies}}
                    <li><a data-key={{this}} href="#">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="{{id}}_url">Url</label>
    <input id="{{id}}_url" class="form-control" value="{{url}}">
</div>


{>C_BOOLEAN}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-6 control-label">Allowed values</label>

        <div class="col-sm-3">
            <input type="checkbox" id="{{panel_id}}_true_valid">True
        </div>
        <div class="col-sm-3">
            <input type="checkbox" id="{{panel_id}}_false_valid">False
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_assumed_value" class="col-sm-6 control-label">Assumed value</label>

        <div class="col-sm-6">
            <select id="{{panel_id}}_assumed_value" class="form-control">
            </select>
        </div>
    </div>
</div>

{>C_DURATION}
<div class="form-horizontal">
    <div class="form-group duration_pattern_panel">
        <div class="col-sm-12">
            <input type="checkbox" id="{{panel_id}}_pattern_all" {{#if pattern.all}}checked{{/if}}>Allow all time units
        </div>
        <div id="{{panel_id}}_pattern_custom" class="custom">
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_years" {{#if pattern.years}}checked{{/if}}>Years
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_hours" {{#if pattern.hours}}checked{{/if}}>Hours
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_months" {{#if pattern.months}}checked{{/if}}>Months
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_minutes" {{#if pattern.minutes}}checked{{/if}}>Minutes
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_weeks" {{#if pattern.weeks}}checked{{/if}}>Weeks
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_seconds" {{#if pattern.seconds}}checked{{/if}}>Seconds
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_days" {{#if pattern.days}}checked{{/if}}>Days
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-6 control-label">Units</label>

        <div class="col-sm-6">
            <select id="{{panel_id}}_units" class="form-control input-sm data">
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="weeks">Weeks</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="seconds">Seconds</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_lower" class="col-sm-4 control-label">Min value</label>

        <div class="col-sm-4">
            <select id="{{panel_id}}_lower_included" class="form-control input-sm data">
                <option value="true">&gt;=</option>
                <option value="false">&gt;</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input id="{{panel_id}}_lower" type="number" class="form-control input-sm data" value="{{range.lower}}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_upper" class="col-sm-4 control-label">Max value</label>

        <div class="col-sm-4">
            <select id="{{panel_id}}_upper_included" class="form-control  input-sm data">
                <option value="true">=&lt;</option>
                <option value="false">&lt;</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input id="{{panel_id}}_upper" type="number" class="form-control input-sm data" value="{{range.upper}}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="{{panel_id}}_assumed_value" class="col-sm-4 control-label">Assumed value</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_assumed_value" type="number" class="form-control input-sm data"
                   value="{{assumed_value}}"/>
        </div>
    </div>
</div>


{>C_DATE_TIME}
<div>
    <div id="{{panel_id}}_pattern" class="date_time_pattern"></div>
</div>