<!--
  ~ ADL2-core
  ~ Copyright (c) 2013-2014 Marand d.o.o. (www.marand.com)
  ~
  ~ This file is part of ADL2-core.
  ~
  ~ ADL2-core is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


{>C_REAL}
<label for="{{range_id}}">Range</label>
<input id="{{range_id}}" type="text" class="form-control input-sm data" value="{{range}}"/>
<label for="{{assumed_value_id}}">Assumed Value</label>
<input id="{{assumed_value_id}}" type="number" class="form-control input-sm data" value="{{assumed_value}}"/>

{>C_INTEGER}
<label for="{{range_id}}">Range</label>
<input id="{{range_id}}" type="text" class="form-control input-sm data" value="{{range}}"/>
<label for="{{assumed_value_id}}">Assumed Value</label>
<input id="{{assumed_value_id}}" type="number" class="form-control input-sm data" value="{{assumed_value}}"/>

{>C_TERMINOLOGY_CODE}
<div class="terminology-type-choice">
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_internal" class="data" value="internal">Internal
    </label>
    <label class="radio-inline">
        <input type="radio" name="terminologyTarget" id="{{panel_id}}_external" class="data" value="external">External
    </label>
</div>
<div id="{{panel_id}}_internal_panel">
    <div>
        <label for="{{panel_id}}_value_set">Value Set</label>

        <div class="input-group">
            <select id="{{panel_id}}_value_set" class="form-control input-sm data">
            </select>
            <span class="input-group-btn">
                <button id="{{panel_id}}_value_set_edit" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button id="{{panel_id}}_value_set_new" type="button" class="btn btn-default data">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <label for="{{panel_id}}_assumed_value">Assumed Value</label>

        <div class="input-group">
            <select id="{{panel_id}}_assumed_value" class="form-control input-sm data">
            </select>
        </div>
    </div>
</div>
<div id="{{panel_id}}_external_panel">
    <div class="form-group">
        <label for="{{panel_id}}_external_constraints">Constraints</label>
        <input id="{{panel_id}}_external_constraints" class="form-control input-sm data" value="{{external_term.text}}">
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_external_description">Description</label>
        <textarea id="{{panel_id}}_external_description" class="form-control data"
                  rows="3">{{external_term.description}}</textarea>
    </div>

    <table class="external_terminology_table">
        <thead>
        <tr>
            <th>
                <label>External terminologies</label>
            </th>
            <th class="external_terminology_row_actions">
                <button id="{{panel_id}}_external_add_terminology" class="btn btn-default data"
                        title="add external terminology">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody id="{{panel_id}}_external_table_body">
        </tbody>
    </table>
</div>



{>C_BOOLEAN}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-6 control-label">Allowed values</label>

        <div class="col-sm-3">
            <input type="checkbox" id="{{panel_id}}_true_valid" class="data">True
        </div>
        <div class="col-sm-3">
            <input type="checkbox" id="{{panel_id}}_false_valid" class="data">False
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_assumed_value" class="col-sm-6 control-label">Assumed value</label>

        <div class="col-sm-6">
            <select id="{{panel_id}}_assumed_value" class="form-control data">
            </select>
        </div>
    </div>
</div>

{>C_DURATION}
<div class="form-horizontal">
    <div class="form-group duration_pattern_panel">
        <div class="col-sm-12">
            <input type="checkbox" id="{{panel_id}}_pattern_all" {{#if pattern.all}}checked{{/if}} class="data">Allow
            all time units
        </div>
        <div id="{{panel_id}}_pattern_custom" class="custom">
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_years" {{#if pattern.years}}checked{{/if}} class="data">Years
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_hours" {{#if pattern.hours}}checked{{/if}} class="data">Hours
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_months" {{#if pattern.months}}checked{{/if}}
                       class="data">Months
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_minutes" {{#if pattern.minutes}}checked{{/if}}
                       class="data">Minutes
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_weeks" {{#if pattern.weeks}}checked{{/if}} class="data">Weeks
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_seconds" {{#if pattern.seconds}}checked{{/if}}
                       class="data">Seconds
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="{{panel_id}}_pattern_days" {{#if pattern.days}}checked{{/if}} class="data">Days
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-6 control-label">Units</label>

        <div class="col-sm-6">
            <select id="{{panel_id}}_units" class="form-control input-sm data">
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="weeks">Weeks</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="seconds">Seconds</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_lower" class="col-sm-4 control-label">Min value</label>

        <div class="col-sm-4">
            <select id="{{panel_id}}_lower_included" class="form-control input-sm data">
                <option value="true">&gt;=</option>
                <option value="false">&gt;</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input id="{{panel_id}}_lower" type="number" class="form-control input-sm data" value="{{range.lower}}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="{{panel_id}}_upper" class="col-sm-4 control-label">Max value</label>

        <div class="col-sm-4">
            <select id="{{panel_id}}_upper_included" class="form-control input-sm data">
                <option value="true">=&lt;</option>
                <option value="false">&lt;</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input id="{{panel_id}}_upper" type="number" class="form-control input-sm data" value="{{range.upper}}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="{{panel_id}}_assumed_value" class="col-sm-4 control-label">Assumed value</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_assumed_value" type="number" class="form-control input-sm data"
                   value="{{assumed_value}}"/>
        </div>
    </div>
</div>


{>C_DATE_TIME}
<div>
    <div id="{{panel_id}}_pattern" class="date_time_pattern"></div>
</div>