{>mainTabs}
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#{{panel_id}}_nodes" data-toggle="tab">Nodes</a></li>
        <li role="presentation"><a href="#{{panel_id}}_terms" data-toggle="tab">Terms</a></li>
        <li role="presentation"><a href="#{{panel_id}}_bindings" data-toggle="tab">Bindings</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in"
             id="{{panel_id}}_nodes">
            Terminology nodes
        </div>
        <div role="tabpanel" class="tab-pane fade in"
             id="{{panel_id}}_terms">
            Terminology terms
        </div>
        <div role="tabpanel" class="tab-pane fade in"
             id="{{panel_id}}_bindings">
            Terminology bindings
        </div>
    </div>
</div>
