{>terms}
<div class="col-sm-12 horizontal-stretch bottom-space-medium">
    <table id="{{table_id}}" xdata-height="600">
        <thead>
        <tr>
            <th data-field="code">Code</th>
            <th data-field="text">Text</th>
            <th data-field="description">Description</th>
        </tr>
        </thead>
    </table>
</div>

{>updateTermDefinitionDialog}
{{#each terms}}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{@key}}</h3></div>
    <div class="panel-body">
      <div class="row properties-line no-border">
          <div class="properties-label"><label>Text</label></div>
          <div class="properties-value"><input data-lang="{{@key}}" data-field="text" class="form-control input-sm" value="{{text}}"></div>
      </div>
      <div class="row properties-line no-border">
          <div class="properties-label"><label>Description</label></div>
          <div class="properties-value"><input data-lang="{{@key}}" data-field="description" class="form-control input-sm" value="{{description}}"></div>
      </div>
      <div class="row properties-line no-border">
          <div class="properties-label"><label>Comment</label></div>
          <div class="properties-value"><input data-lang="{{@key}}" data-field="comment" class="form-control input-sm" value="{{comment}}"></div>
      </div>    
    </div>
</div>
{{/each}}


{>updateValueSetDialog}
<div class="horizontal-stretch">
  <div class="row properties-line no-border">
      <div class="properties-label"><label>Text</label></div>
      <div class="properties-value"><input id="{{panel_id}}_text" class="form-control input-sm" value="{{term.text}}"></div>
  </div>
  <div class="row properties-line no-border">
      <div class="properties-label"><label>Description</label></div>
      <div class="properties-value"><input id="{{panel_id}}_description" class="form-control input-sm" value="{{term.description}}"></div>
  </div>
  <div class="row properties-line no-border">
      <div class="properties-label align-top"><label>Values</label></div>
      <div class="properties-value">
        <select id="{{panel_id}}_members" class="form-control data" name="term" size="10">
            {{#each members}}
                <option value="{{@key}}" title="{{@key}}: {{description}}">{{text}}</option>
            {{/each}}
        </select>
        <div class="btn-group-vertical left-space-small" role="group">
            <button id="{{panel_id}}_add_new_member" type="button" class="btn btn-default data">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button id="{{panel_id}}_remove_member" type="button" class="btn btn-default data">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
    
            <button id="{{panel_id}}_add_existing_member" type="button" class="btn btn-default data">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </div>
      </div>
  </div>
</div>

{>updateExternalTerminologyDialog}
<div class="row properties-line no-border">
    <div class="properties-label"><label>Text</label></div>
    <div class="properties-value"><input id="{{panel_id}}_text" class="form-control input-sm data" value="{{term.text}}"></div>
</div>
<div class="row properties-line no-border">
    <div class="properties-label"><label>Description</label></div>
    <div class="properties-value"><input id="{{panel_id}}_description" class="form-control input-sm data" value="{{term.description}}"></div>
</div>
<div class="horizontal-stretch">
  <table id="{{panel_id}}_terminologies" class="table xtable-bordered external_terminology_table">
    <thead>
    <tr>
        <th>Terminology</th>
        <th>Url</th>
        <th class="external_terminology_row_actions">
            <button id="{{panel_id}}_add_binding" class="btn btn-sm btn-default data pull-right"
                    title="add terminology binding">
                &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
            </button>
        </th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>    
</div>

{>updateExternalTerminologyDialog/bindingRow}
<tr>
    <td>{{terminology}}</td>
    <td>{{url}}</td>
    <td class="external_terminology_row_actions">
      <div class="btn-group pull-right" role="group">
        <button type="button" name="edit" class="btn btn-sm btn-default data" data-terminology='{{terminology}}' title="edit">
            &nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;
        </button>
        <button type="button" name="remove" class="btn btn-sm btn-default data" data-terminology='{{terminology}}' title="remove">
            &nbsp;<span class="glyphicon glyphicon-minus"></span>&nbsp;
        </button>
      </div>
    </td>
</tr>

{>updateExternalTerminologyDialog/addBinding}
<div class="row properties-line no-border">
  <div class="properties-label"><label for="{{id}}_terminology">Terminology</label></div>
  <div class="properties-value">
    {{#if create}}
        <div class="input-group">
            <input id="{{id}}_terminology" class="form-control" value="{{terminology}}">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    &nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{#each terminologies}}
                        <li><a data-key="{{@key}}" href="#">{{@key}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{else}}
        <input id="{{id}}_terminology" class="form-control" value="{{terminology}}" disabled>
    {{/if}}
  </div>
</div>
<div class="row properties-line no-border">
  <div class="properties-label"><label for="{{id}}_url">Url</label></div>
  <div class="properties-value"><input id="{{id}}_url" class="form-control" value="{{url}}"></div>
</div>


{>valueSets}
<div class="col-sm-12 horizontal-stretch">
    <table id="{{panel_id}}_table" xdata-height="600">
        <thead>
        <tr>
            <th data-field="code">Code</th>
            <th data-field="text">Text</th>
            <th data-field="description">Description</th>
        </tr>
        </thead>
    </table>
    <div class="streched-table-footer">
        <button id="{{panel_id}}_new" class="btn btn-primary">New Value Set</button>
    </div>
</div>

{>externalTerminologies}
<div class="col-sm-12 horizontal-stretch">
    <table id="{{panel_id}}_table" xdata-height="600">
        <thead>
        <tr>
            <th data-field="code">Code</th>
            <th data-field="text">Text</th>
            <th data-field="description">Description</th>
        </tr>
        </thead>
    </table>
    <div class="streched-table-footer">
        <button id="{{panel_id}}_new" class="btn btn-primary">New External Terminology</button>
    </div>
</div>


{>bindings}
<div class="col-sm-12 horizontal-stretch">
    <div class="form-horizontal row">
      <div class="row properties-line no-border">
        <div class="properties-label"><label>Terminology</label></div>
        <div class="properties-value"><select class="form-control" id="{{panel_id}}_terminology"></select></div>  
      </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#{{panel_id}}_termBindings" data-toggle="tab">Terms</a></li>
            <li role="presentation"><a href="#{{panel_id}}_nodeBindings" data-toggle="tab">Nodes</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="{{panel_id}}_termBindings">
                <table id="{{panel_id}}_termTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Binding</th>
                        <th>
                            <button id="{{panel_id}}_newTermBinding" type="button" class="btn btn-sm btn-default pull-right"
                                    title="Add binding">
                                &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="{{panel_id}}_nodeBindings">
                <table id="{{panel_id}}_nodeTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Binding</th>
                        <th>
                            <button id="{{panel_id}}_newNodeBinding" type="button" class="btn btn-sm btn-default pull-right"
                                    title="Add binding">
                                &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{>bindings/termTableRow}
<tr>
    <td>{{term.text}}</td>
    <td>{{binding}}</td>
    <td>
        <div class="btn-group pull-right" role="group">
            <button type="button" data-action='edit' data-term='{{termId}}' class="btn btn-sm btn-default" title="edit">
                &nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;
            </button>
            <button type="button" data-action='remove' data-term='{{termId}}' class="btn btn-sm btn-default"
                    title="remove">
                &nbsp;<span class="glyphicon glyphicon-minus"></span>&nbsp;
            </button>
        </div>
    </td>
</tr>

{>bindings/nodeTableRow}
<tr>
    <td>{{term.text}}</td>
    <td>{{binding}}</td>
    <td>
        <div class="btn-group" role="group">
            <button type="button" data-action='edit' data-term='{{termId}}' class="btn btn-default" title="edit">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" data-action='remove' data-term='{{termId}}' class="btn btn-default"
                    title="remove">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
    </td>
</tr>


{>bindings/updateTermBindingDialog}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4">Terminology</label>

        <div class="col-sm-8">
            <p class="form-control-static">{{terminology}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4" for="{{panel_id}}_term">Term</label>

        <div class="col-sm-8">
            {{#if create}}
                <select id="{{panel_id}}_term" class="form-control">
                </select>
            {{else}}
                <p class="form-control-static">{{term.text}}</p>
            {{/if}}
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-4" for="{{panel_id}}_binding">Binding</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_binding" class="form-control" value="{{binding}}"/>
        </div>
    </div>
</div>

{>bindings/updateNodeBindingDialog}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4">Terminology</label>

        <div class="col-sm-8">
            <p class="form-control-static">{{terminology}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4" for="{{panel_id}}_term">Node</label>

        <div class="col-sm-8">
            {{#if create}}
                <select id="{{panel_id}}_term" class="form-control">
                </select>
            {{else}}
                <p class="form-control-static">{{term.text}}</p>
            {{/if}}
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-4" for="{{panel_id}}_binding">Binding</label>

        <div class="col-sm-8">
            <input id="{{panel_id}}_binding" class="form-control" value="{{binding}}"/>
        </div>
    </div>
</div>